@model PagedList.IPagedList<ProjectAspNETv2.Models.Produit>

@using PagedList.Mvc;

@{
    ViewBag.Title = "Shop";
    Layout = "~/Views/Shared/_LayoutWelcomePage.cshtml";
}

<!--====== App Content ======-->
<div class="app-content">

    <!--====== Section 1 ======-->
    <div class="u-s-p-y-90">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="shop-p">
                        <div class="shop-p__toolbar u-s-m-b-30">
                            <div id="search-bar" class="shop-p__meta-wrap u-s-m-b-60">

                                <h2 style="color:black;">WELCOME TO OUR &nbsp;<strong style="color: #fa4400">Online</strong><strong style="color:#000">Market</strong> !</h2>
                                <h3 style="color:black;">THE HOME OF DECENT<strong>DISCOUNTS</strong> </h3>

                                <div class="form-search-home">
                                    <div id="pCol" class="form-inline z">
                                            <div class="form-group">
                                                @Html.DropDownList("category", ViewBag.Categories as SelectList,"Choose a category", htmlAttributes: new { @class = "form-control border-none select" })
                                            </div>
                                            <div class="form-group">
                                                @Html.DropDownList("ville", ViewBag.Villes as SelectList, "Choose a city", htmlAttributes: new { @class = "form-control border-none select" })
                                            </div>
                                            <div class="form-group">
                                                @Html.Editor("search", new { htmlAttributes = new { @class = "form-control border-none editor", placeholder = "Search here ...", id = "search-bar" } })
                                            </div>
                                            
                                    </div>
                                </div>

                            </div>




                            <div class="shop-p__tool-style">
                                <div class="tool-style__group u-s-m-b-8">
                                    <span class="js-shop-grid-target is-active">Grid</span>

                                    <span class="js-shop-list-target">List</span>
                                </div>
                            </div>
                        </div>
                        <div  class="shop-p__collection">
                            <div id="DataSearching_" class="row is-grid-active">
                                @foreach (var produit in Model)
                                {
                                    
                                        <div class="col-lg-3 col-md-4 col-sm-6">
                                            <div class="product-m">
                                                <div class="product-m__thumb">

                                                    <a class="aspect aspect--bg-grey aspect--square u-d-block" href="/Welcome/Product/@produit.Id" target="_blank">

                                                        <img class="aspect__img" src="@Url.Content(produit.Images.First().PathName)" alt="">
                                                    </a>

                                                    <div class="product-m__add-cart">

                                                        <a class="btn--e-brand" href="/Welcome/Product/@produit.Id" target="_blank">Show Details</a>
                                                    </div>
                                                </div>
                                                <div class="product-m__content">
                                                    <div class="product-m__category">

                                                        @produit.Category.Name
                                                    </div>
                                                    <div class="product-m__name">
                                                        @if (produit.name.Length >= 17)
                                                        {
                                                            <a href="/Welcome/Product/@produit.Id" target="_blank">@produit.name.Substring(0, 17) ...</a>
                                                        }
                                                        else
                                                        {
                                                            <a href="/Welcome/Product/@produit.Id" target="_blank">@produit.name</a>
                                                        }

                                                    </div>
                                                    <div class="product-m__rating ">
                                                        <span>Seller : @produit.Proprietaire.Name &nbsp;&nbsp;</span>
                                                        <span style="color:green;">

                                                            <i class="fa fa-check" aria-hidden="true"></i>
                                                        </span>

                                                        @if (produit.Proprietaire.Id == ViewBag.CurrentSeller?.Id && User.Identity.IsAuthenticated)
                                                        {
                                                            <div style="color: #fa4400;">
                                                                <i class="fas fa-user"></i>my product
                                                                <span style="color: #15aabf; float:right; ">
                                                                    <a href="/Produits/Edit/@produit.Id">
                                                                        <i style="font-size: 18px;" class="far fa-edit"></i>
                                                                    </a>
                                                                </span>


                                                            </div>
                                                        }


                                                    </div>
                                                    <div class="product-m__price">MAD @produit.price</div>
                                                    <div class="product-m__hover">
                                                        <div class="product-m__preview-description">

                                                            <span>@produit.description_</span>
                                                        </div>
                                                        <div class="product-m__wishlist">

                                                            <a class="far fa-heart" href="#" data-tooltip="tooltip" data-placement="top" title="Add to Wishlist"></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    
                                }

                            </div>
                        </div>
                        <div class="u-s-p-y-60">

                            <!--====== Pagination ======-->
                            @Html.PagedListPager(Model, page => Url.Action("Shop", new {  page, pageSize = Model.PageSize}))
                            Showing @Model.FirstItemOnPage to @Model.LastItemOnPage of @Model.TotalItemCount Products
                            <!--====== End - Pagination ======-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--====== End - Section ======-->
</div>
<!--====== End - App Content ======-->

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script>
    $(document).ready(function () {

        $("#search").change(function () {
            @*var sCat = $("#category").val();
            var sCity = $("#ville").val();*@
            var sText = $("$search").val();
            var SetData = $("DataSearching_");
            SetData.html(" ");

            $.ajax({
                type: "post",
                url: "/Welcome/GetSearchData?sText=" + sText,
                contentType: "html",
                success: function (result){

                    if (result.length == 0) {
                        SetData.append('<h3>No Result Found</h3>');
                    }
                    else {
                        SetData.append('<h3>Result will be shown here !!!! </h3>');
                    }
                }
            });
        });
    });
</script>