
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_LayoutPageDashboard1.cshtml";
}


<div class="main-body">
    <div class="page-wrapper">
        <!-- [ Main Content ] start -->
        <div class="row">
            <!--[ daily sales section ] start-->
            <div class="col-md-6 col-xl-4">
                <div class="card daily-sales">
                    <div class="card-block">
                        <h6 class="mb-4"> Nombre de propriétaires enregistrés </h6>
                        <div class="row d-flex align-items-center">
                            <div class="col-9">
                                <h3 class="f-w-300 d-flex align-items-center m-b-0"><i class="feather icon-arrow-up text-c-green f-30 m-r-10"></i>@ViewBag.prp </h3>
                            </div>


                        </div>
                        <div class="row align-items-center justify-content-center card-active">
                            <div class="col-6">
                                <h6 class="text-center m-b-10"><span class="text-muted m-r-5"> Société </span> @ViewBag.soc</h6>
                                <div class="progress">
                                    <div class="progress-bar progress-c-theme" role="progressbar" style="width:60%;height:6px;" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                            <div class="col-6">
                                <h6 class="text-center  m-b-10"><span class="text-muted m-r-5"> Particulier </span> @ViewBag.par</h6>
                                <div class="progress">
                                    <div class="progress-bar progress-c-theme2" role="progressbar" style="width:45%;height:6px;" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--[ daily sales section ] end-->
            <!--[ Monthly  sales section ] starts-->
            <div class="col-md-6 col-xl-4">
                <div class="card Monthly-sales">
                    <div class="card-block">
                        <h6 class="mb-4">Les biens ajoutés</h6>
                        <div class="row d-flex align-items-center">
                            <div class="col-9">
                                <h3 class="f-w-300 d-flex align-items-center  m-b-0"><i class="feather icon-arrow-down text-c-red f-30 m-r-10"></i> @ViewBag.produits </h3>
                            </div>

                        </div>
                        <div class="row align-items-center justify-content-center card-active">
                            <div class="col-4">
                                <h6 class="text-center m-b-10"><span class="text-muted m-r-5"> Acceptées</span> @ViewBag.Acc </h6>
                                <div class="progress">
                                    <div class="progress-bar progress-c-theme" role="progressbar" style="width:60%;height:6px;" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                            <div class="col-4">
                                <h6 class="text-center  m-b-10"><span class="text-muted m-r-5"> en attente </span> @ViewBag.Att</h6>
                                <div class="progress">
                                    <div class="progress-bar progress-c-theme2" role="progressbar" style="width:45%;height:6px;" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                            <div class="col-4">
                                <h6 class="text-center  m-b-10"><span class="text-muted m-r-5"> Rejetées <br /> </span>  @ViewBag.Ref</h6>
                                <div class="progress">
                                    <div class="progress-bar progress-c-theme2" role="progressbar" style="width:45%;height:6px;" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <!--[ Monthly  sales section ] end-->
            <!--[ year  sales section ] starts-->
            <div class="col-md-12 col-xl-4">
                <div class="card yearly-sales">
                    <div class="card-block">
                        <h6 class="mb-4"> Les biens ajoutés ce mois </h6>
                        <div class="row d-flex align-items-center">
                            <div class="col-9">
                                <h3 class="f-w-300 d-flex align-items-center  m-b-0"><i class="feather icon-arrow-up text-c-green f-30 m-r-10"></i> @ViewBag.ProdMois </h3>
                            </div>
                            <div class="col-3 text-right">
                                <p class="m-b-0">80%</p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <!--[ year  sales section ] end-->
            <!--[ Recent Users ] start-->
            <div class="col-xl-8 col-md-6">
                <div class="card Recent-Users">
                    <div class="card-header">
                        <h5> Les Propriétaires abonnées récemment</h5>
                    </div>
                    <div class="card-block px-0 py-3">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <tbody>

                                    @foreach (var item in ViewBag.NV)
                                    {
                                        <tr class="unread">
                                            <td><img class="rounded-circle" style="width:40px;" src="@Url.Content(@item.Logo)" alt="activity-user"></td>
                                            <td>
                                                <h6 class="mb-1"> @item.Name </h6>
                                                @if (item.isCompany == true)
                                                {<p class="m-0">Societe </p>}
                                                @if (item.isCompany == false)
                                                {<p class="m-0"> Particulier </p>}
                                            </td>
                                            <td>
                                                <h6 class="text-muted">  @item.Produits.Count Produits </h6>
                                            </td>

                                            <td>
                                                <h6 class="text-muted"><i class="fas fa-circle text-c-green f-10 m-r-15"></i> @item.created_at </h6>
                                            </td>


                                        </tr>

                                    }



                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!--[ Recent Users ] end-->
            <!-- [ statistics year chart ] start -->
            <div class="col-xl-4 col-md-6">


                <div class="card">
                    <div class="card-block border-bottom">
                        <div class="row d-flex align-items-center">
                            <div class="col-auto">
                                <i class="feather icon-zap f-30 text-c-green"></i>
                            </div>
                            <div class="col">
                                <h3 class="f-w-300"> Test</h3>
                                <span class="d-block text-uppercase"> test test</span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <!-- [ statistics year chart ] end -->
            <!--[social-media section] start-->


            @foreach (var item2 in ViewBag.TopProducts as IList<ProjectAspNETv2.Models.Produit>)
            {

                <div class="col-md-12 col-xl-4">

                    <div class="card card-social">
                        <div class="card-block border-bottom">
                            <div class="row align-items-center justify-content-center">
                                <div class="col-auto">
                                    <img class="rounded-circle" style="width:40px;" src="@Url.Content(@item2.Images.First().PathName)"  alt="activity-user">
                                </div>
                                <div class="col text-right">
                                    <h4> @item2.name </h4>
                                    <h5 class="text-c-green mb-0"> <span class="text-muted">Vues:</span>  @item2.Vues.Count </h5>
                                </div>
                            </div>
                            <a href="/Admin/Details/@item2.Id" class="label theme-bg2 text-white f-12"> Details</a>
                        </div>

                    </div>
                </div>

            }





                <!--[social-media section] end-->

                <div class="col-xl-12 col-md-12 m-b-30">
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="false">Today</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active show" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="true">This Week</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">All</a>
                        </li>
                    </ul>
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade" id="home" role="tabpanel" aria-labelledby="home-tab">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>Produit</th>
                                        <th>Prix</th>
                                        <th>Date D'ajout</th>
                                        <th> Vues</th>
                                        <th>Etat</th>
                                        <th class="text-right"></th>
                                    </tr>
                                </thead>
                                <tbody>

                                    @foreach (var item2 in ViewBag.ProductsToday as IList<ProjectAspNETv2.Models.Produit>)
                                    {
                                        <tr>
                                            <td>
                                                <h6 class="m-0"><img class="rounded-circle m-r-10" style="width:40px;" src="@Url.Content(@item2.Images.First().PathName)" alt="activity-user"> @item2.name</h6>
                                            </td>
                                            <td>
                                                <h6 class="m-0"> @item2.price </h6>
                                            </td>
                                            <td>
                                                <h6 class="m-0"> @item2.createdAt</h6>
                                            </td>
                                            <td>
                                                <h6 class="m-0"> @item2.Vues.Count </h6>
                                            </td>
                                            @if (@item2.status == "3")
                                            {

                                                <td>
                                                    <h6 class="m-0 text-c-red">  refused </h6>
                                                </td>
                                                <td class="text-right"><i class="fas fa-circle text-c-red f-10"></i></td>


                                            }
                                            @if (@item2.status == "1")
                                            {

                                                <td>
                                                    <h6 class="m-0 text-primary">  en attente de confirmation </h6>
                                                </td>
                                                <td class="text-right"><i class="fas fa-circle text-primary f-10"></i></td>


                                            }@if (@item2.status == "2")
                                            {

                                                <td>
                                                    <h6 class="m-0 text-c-green">  confirmed </h6>
                                                </td>
                                                <td class="text-right"><i class="fas fa-circle text-c-green f-10"></i></td>


                                            }

                                            <td>  <a href="/Admin/Details/@item2.Id" class="label theme-bg2 text-white f-12"> <i class="feather icon-chevrons-right"></i> </a> </td>

                                        </tr>


                                    }


                                </tbody>
                            </table>

                        </div>
                        <div class="tab-pane fade active show" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>Produit</th>
                                        <th>Prix</th>
                                        <th>Date D'ajout</th>
                                        <th> Vues</th>
                                        <th>Etat</th>
                                        <th class="text-right"></th>
                                    </tr>
                                </thead>
                                <tbody>



                                    @foreach (var item2 in ViewBag.ProductsWeek as IList<ProjectAspNETv2.Models.Produit>)
                                    {
                                        <tr>
                                            <td>
                                                <h6 class="m-0"><img class="rounded-circle m-r-10" style="width:40px;" src="@Url.Content(@item2.Images.First().PathName)" alt="activity-user"> @item2.name</h6>
                                            </td>
                                            <td>
                                                <h6 class="m-0"> @item2.price </h6>
                                            </td>
                                            <td>
                                                <h6 class="m-0"> @item2.createdAt</h6>
                                            </td>
                                            <td>
                                                <h6 class="m-0"> @item2.Vues.Count  </h6>
                                            </td>
                                            @if (@item2.status == "3")
                                            {

                                                <td>
                                                    <h6 class="m-0 text-c-red">  refused </h6>
                                                </td>
                                                <td class="text-right"><i class="fas fa-circle text-c-red f-10"></i></td>


                                            }
                                            @if (@item2.status == "1")
                                            {

                                                <td>
                                                    <h6 class="m-0 text-primary">  en attente de confirmation </h6>
                                                </td>
                                                <td class="text-right"><i class="fas fa-circle text-primary f-10"></i></td>


                                            }@if (@item2.status == "2")
                                            {

                                                <td>
                                                    <h6 class="m-0 text-c-green">  confirmed </h6>
                                                </td>
                                                <td class="text-right"><i class="fas fa-circle text-c-green f-10"></i></td>


                                            }
                                            <td>  <a href="/Admin/Details/@item2.Id" class="label theme-bg2 text-white f-12"> <i class="feather icon-chevrons-right"></i> </a> </td>
                                        </tr>


                                    }

                                </tbody>
                            </table>

                        </div>
                        <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>Produit</th>
                                        <th>Prix</th>
                                        <th>Date D'ajout</th>
                                        <th> Vues</th>
                                        <th>Etat</th>
                                        <th class="text-right"></th>
                                    </tr>
                                </thead>
                                <tbody>



                                    @foreach (var item2 in ViewBag.AllProducts as IList<ProjectAspNETv2.Models.Produit>)
                                    {
                                        <tr>
                                            <td>
                                                <h6 class="m-0"><img class="rounded-circle m-r-10" style="width:40px;" src="@Url.Content(@item2.Images.First().PathName)" alt="activity-user"> @item2.name</h6>
                                            </td>
                                            <td>
                                                <h6 class="m-0"> @item2.price </h6>
                                            </td>
                                            <td>
                                                <h6 class="m-0"> @item2.createdAt</h6>
                                            </td>
                                            <td>
                                                <h6 class="m-0"> @item2.Vues.Count  </h6>
                                            </td>
                                            @if (@item2.status == "3")
                                            {

                                                <td>
                                                    <h6 class="m-0 text-c-red">  refused </h6>
                                                </td>
                                                <td class="text-right"><i class="fas fa-circle text-c-red f-10"></i></td>


                                            }
                                            @if (@item2.status == "1")
                                            {

                                                <td>
                                                    <h6 class="m-0 text-primary">  en attente de confirmation </h6>
                                                </td>
                                                <td class="text-right"><i class="fas fa-circle text-primary f-10"></i></td>


                                            }@if (@item2.status == "2")
                                            {

                                                <td>
                                                    <h6 class="m-0 text-c-green">  confirmed </h6>
                                                </td>
                                                <td class="text-right"><i class="fas fa-circle text-c-green f-10"></i></td>


                                            }
                                            <td>  <a href="/Admin/Details/@item2.Id" class="label theme-bg2 text-white f-12"> <i class="feather icon-chevrons-right"></i> </a> </td>
                                        </tr>




                                    }

                                </tbody>
                            </table>


                        </div>
                    </div>
                </div>

            </div>
        <!-- [ Main Content ] end -->
    </div>



</div>



