
@{
    ViewBag.Title = "Products";
    Layout = "~/Views/Shared/_LayoutPageDashboard1.cshtml";
}



<div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="basic-addon2">
    <div class="input-group-append">
        <button class="btn btn-primary" type="button">Button</button>
    </div>
</div>

<div class="row">

    @foreach (var item in ViewBag.MyList as IList<ProjectAspNETv2.Models.Produit>)
    {

    <div class="col-md-6 col-xl-3" >

        <div class="card" style="width: 15rem;height:30rem">
            <img class="card-img-top" src="@Url.Content(@item.Images.First().PathName)" alt="Card image cap">
            <div class="card-body">
                <h4 class="card-title">@item.name</h4>
                <p class="card-text">
                    @if (item.description_.Count() > 16)
                    {@(item.description_.Substring(0,15)) <span>... </span>} @if (item.description_.Count() <= 16)
                    {<span> @item.description_  </span>}
                    </p>
                <div class="col text-right">
                    <h4> @item.price DH</h4>
                    <h6 class="text-c-purple mb-0">  <span class="text-muted">Vendeur:</span> @item.Proprietaire.Name </h6>
                </div>
                <a href="/Admin/Details/@item.Id" class="label theme-bg2 text-white f-12"> Details</a>

            </div>
        </div>


    </div>


      


    }







</div>



