
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_LayoutPageDashboard2.cshtml";
}



<div class="main-body">
    <div class="page-wrapper">
        <!-- [ Main Content ] start -->
        <div class="row">
            <!--[ daily sales section ] start-->
            <div class="col-md-6 col-xl-4">
                <div class="card daily-sales">
                    <div class="card-block">
                        <h6 class="mb-4">Les vues quotidiennes </h6>
                        <div class="row d-flex align-items-center">
                            <div class="col-9">
                                <h3 class="f-w-300 d-flex align-items-center m-b-0"><i class="feather icon-arrow-up text-c-green f-30 m-r-10"></i>249 Vues</h3>
                            </div>

                            <div class="col-3 text-right">
                                <p class="m-b-0">67%</p>
                            </div>
                        </div>
                        <div class="progress m-t-30" style="height: 7px;">
                            <div class="progress-bar progress-c-theme" role="progressbar" style="width: 50%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
            </div>
            <!--[ daily sales section ] end-->
            <!--[ Monthly  sales section ] starts-->
            <div class="col-md-6 col-xl-4">
                <div class="card Monthly-sales">
                    <div class="card-block">
                        <h6 class="mb-4">Les vues mensuelles</h6>
                        <div class="row d-flex align-items-center">
                            <div class="col-9">
                                <h3 class="f-w-300 d-flex align-items-center  m-b-0"><i class="feather icon-arrow-down text-c-red f-30 m-r-10"></i> 2 942 Vues</h3>
                            </div>
                            <div class="col-3 text-right">
                                <p class="m-b-0">36%</p>
                            </div>
                        </div>
                        <div class="progress m-t-30" style="height: 7px;">
                            <div class="progress-bar progress-c-theme2" role="progressbar" style="width: 35%;" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
            </div>
            <!--[ Monthly  sales section ] end-->
            <!--[ year  sales section ] starts-->
            <div class="col-md-12 col-xl-4">
                <div class="card yearly-sales">
                    <div class="card-block">
                        <h6 class="mb-4">Total des produits en stock </h6>
                        <div class="row d-flex align-items-center">
                            <div class="col-9">
                                <h3 class="f-w-300 d-flex align-items-center  m-b-0"><i class="feather icon-arrow-up text-c-green f-30 m-r-10"></i>  @ViewBag.TotalProducts  Produits</h3>
                            </div>
                            <div class="col-3 text-right">
                                <p class="m-b-0">80%</p>
                            </div>
                        </div>
                        <div class="progress m-t-30" style="height: 7px;">
                            <div class="progress-bar progress-c-theme" role="progressbar" style="width: 70%;" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
            </div>

            <!--[ year  sales section ] end-->
            <!--[ Recent Users ] start-->
            <div class="col-xl-8 col-md-6">
                <div class="card Recent-Users">
                    <div class="card-header">
                        <h5>Les prrsuits ajoutees recement</h5>
                    </div>
                    <div class="card-block px-0 py-3">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <tbody>

                                    @foreach (var item in ViewBag.RecentProducts)
                                    {

                                        <tr class="unread">
                                            <td><img class="rounded-circle" style="width:40px;" src="@Url.Content("~/Content/assets/images/user/avatar-1.jpg")" alt="activity-user"></td>
                                            <td>
                                                <h6 class="mb-1"> @item.name </h6>
                                                <p class="m-0"> @item.description_ </p>
                                            </td>
                                            <td>
                                                <h6 class="text-muted"><i class="fas fa-circle text-c-green f-10 m-r-15"></i> @item.status  </h6>
                                            </td>

                                            <td>
                                                <h6 class="text-muted"><i class="fas fa-circle text-c-green f-10 m-r-15"></i>  @item.Vues.Count Vues </h6>
                                            </td>


                                        </tr>
                                    }






                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!--[ Recent Users ] end-->
            <!-- [ statistics year chart ] start -->
            <div class="col-xl-4 col-md-6">

                <div class="card">
                    <div class="card-block border-bottom">
                        <div class="row d-flex align-items-center">
                            <div class="col-auto">
                                <i class="feather icon-zap f-30 text-c-green"></i>
                            </div>
                            <div class="col">
                                <h3 class="f-w-300"> @ViewBag.ProdMois  </h3>
                                <span class="d-block text-uppercase">Les produits ajoutes ce mois-ci</span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <!-- [ statistics year chart ] end -->
            <!--[social-media section] start-->



            <div class="col-md-12 col-xl-4">

                <div class="card card-social">
                    <div class="card-block border-bottom">
                        <div class="row align-items-center justify-content-center">
                            <div class="col-auto">
                                <img class="rounded-circle" style="width:40px;" src="@Url.Content("~/Content/assets/images/user/avatar-6.jpg")" alt="activity-user">
                            </div>
                            <div class="col text-right">
                                <h3> @ViewBag.TopProducts[0].name </h3>
                                <h5 class="text-c-green mb-0"> <span class="text-muted">Vues:</span>  @ViewBag.TopProducts[0].Vues.Count </h5>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="col-md-12 col-xl-4">
                <div class="card card-social">
                    <div class="card-block border-bottom">
                        <div class="row align-items-center justify-content-center">
                            <div class="col-auto">
                                <img class="rounded-circle" style="width:40px;" src="@Url.Content("~/Content/assets/images/user/avatar-7.jpg")" alt="activity-user">
                            </div>
                            <div class="col text-right">
                                <h3>@ViewBag.TopProducts[1].name </h3>
                                <h5 class="text-c-green mb-0"> <span class="text-muted">Vues:</span>  @ViewBag.TopProducts[1].Vues.Count </h5>
                            </div> </h5>
                        </div>
                        </div>
                    </div>

              </div>
            

            <div class="col-md-12 col-xl-4">
                <div class="card card-social">
                    <div class="card-block border-bottom">
                        <div class="row align-items-center justify-content-center">
                            <div class="col-auto">
                                <img class="rounded-circle" style="width:40px;" src="@Url.Content("~/Content/assets/images/user/avatar-7.jpg")" alt="activity-user">
                            </div>
                            <div class="col text-right">
                                <h3> @ViewBag.TopProducts[2].name </h3>
                                <h5 class="text-c-green mb-0"> <span class="text-muted">Vues:</span>  @ViewBag.TopProducts[2].Vues.Count </h5>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <!--[social-media section] end-->

            <div class="col-xl-12 col-md-12 m-b-30">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="false">Today</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active show" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="true">This Week</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">All</a>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Produit</th>
                                    <th>Prix</th>
                                    <th>Date D'ajout</th>
                                    <th> Vues</th>
                                    <th>Etat</th>
                                    <th class="text-right"></th>
                                </tr>
                            </thead>
                            <tbody>

                                @foreach (var item2 in ViewBag.ProductsToday)
                                {
                                    <tr>
                                        <td>
                                            <h6 class="m-0"><img class="rounded-circle m-r-10" style="width:40px;" src="@Url.Content("~/Content/assets/images/user/avatar-6.jpg")" alt="activity-user"> @item2.name</h6>
                                        </td>
                                        <td>
                                            <h6 class="m-0"> @item2.price </h6>
                                        </td>
                                        <td>
                                            <h6 class="m-0"> @item2.createdAt</h6>
                                        </td>
                                        <td>
                                            <h6 class="m-0">  @item2.Vues.Count </h6>
                                        </td>
                                        @if (@item2.status == "3")
                                        {

                                            <td>
                                                <h6 class="m-0 text-c-red">  refused </h6>
                                            </td>
                                            <td class="text-right"><i class="fas fa-circle text-c-red f-10"></i></td>


                                        }
                                        @if (@item2.status == "1")
                                        {

                                            <td>
                                                <h6 class="m-0 text-primary">  en attente de confirmation </h6>
                                            </td>
                                            <td class="text-right"><i class="fas fa-circle text-primary f-10"></i></td>


                                        }@if (@item2.status == "2")
                                        {

                                            <td>
                                                <h6 class="m-0 text-c-green">  confirmed </h6>
                                            </td>
                                            <td class="text-right"><i class="fas fa-circle text-c-green f-10"></i></td>


                                        }

                                    </tr>


                                }


                            </tbody>
                        </table>

                    </div>
                    <div class="tab-pane fade active show" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Produit</th>
                                    <th>Prix</th>
                                    <th>Date D'ajout</th>
                                    <th> Vues</th>
                                    <th>Etat</th>
                                    <th class="text-right"></th>
                                </tr>
                            </thead>
                            <tbody>



                                @foreach (var item2 in ViewBag.ProductsWeek)
                                {
                                    <tr>
                                        <td>
                                            <h6 class="m-0"><img class="rounded-circle m-r-10" style="width:40px;" src="@Url.Content("~/Content/assets/images/user/avatar-6.jpg")" alt="activity-user"> @item2.name</h6>
                                        </td>
                                        <td>
                                            <h6 class="m-0"> @item2.price </h6>
                                        </td>
                                        <td>
                                            <h6 class="m-0"> @item2.createdAt</h6>
                                        </td>
                                        <td>
                                            <h6 class="m-0"> @item2.Vues.Count </h6>
                                        </td>
                                        @if (@item2.status == "3")
                                        {

                                            <td>
                                                <h6 class="m-0 text-c-red">  refused </h6>
                                            </td>
                                            <td class="text-right"><i class="fas fa-circle text-c-red f-10"></i></td>


                                        }
                                        @if (@item2.status == "1")
                                        {

                                            <td>
                                                <h6 class="m-0 text-primary">  en attente de confirmation </h6>
                                            </td>
                                            <td class="text-right"><i class="fas fa-circle text-primary f-10"></i></td>


                                        }@if (@item2.status == "2")
                                        {

                                            <td>
                                                <h6 class="m-0 text-c-green">  confirmed </h6>
                                            </td>
                                            <td class="text-right"><i class="fas fa-circle text-c-green f-10"></i></td>


                                        }
                                    </tr>


                                }

                            </tbody>
                        </table>

                    </div>
                    <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Produit</th>
                                    <th>Prix</th>
                                    <th>Date D'ajout</th>
                                    <th> Vues</th>
                                    <th>Etat</th>
                                    <th class="text-right"></th>
                                </tr>
                            </thead>
                            <tbody>



                                @foreach (var item2 in ViewBag.AllProducts)
                                {
                                    <tr>
                                        <td>
                                            <h6 class="m-0"><img class="rounded-circle m-r-10" style="width:40px;" src="@Url.Content("~/Content/assets/images/user/avatar-6.jpg")" alt="activity-user"> @item2.name</h6>
                                        </td>
                                        <td>
                                            <h6 class="m-0"> @item2.price </h6>
                                        </td>
                                        <td>
                                            <h6 class="m-0"> @item2.createdAt</h6>
                                        </td>
                                        <td>
                                            <h6 class="m-0"> @item2.Vues.Count </h6>
                                        </td>
                                        @if (@item2.status == "3")
                                        {

                                            <td>
                                                <h6 class="m-0 text-c-red">  refused </h6>
                                            </td>
                                            <td class="text-right"><i class="fas fa-circle text-c-red f-10"></i></td>


                                        }
                                        @if (@item2.status == "1")
                                        {

                                            <td>
                                                <h6 class="m-0 text-primary">  en attente de confirmation </h6>
                                            </td>
                                            <td class="text-right"><i class="fas fa-circle text-primary f-10"></i></td>


                                        }@if (@item2.status == "2")
                                        {

                                            <td>
                                                <h6 class="m-0 text-c-green">  confirmed </h6>
                                            </td>
                                            <td class="text-right"><i class="fas fa-circle text-c-green f-10"></i></td>


                                        }
                                    </tr>


                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
        <!-- [ Main Content ] end -->
    </div>
</div>


