
@{
    ViewBag.Title = "ProductsRef";
    Layout = "~/Views/Shared/_LayoutPageDashboard2.cshtml";
}




<div class="col-xl-12 col-md-12">
    <div class="card Recent-Users">
        <div class="card-header">
            <h5>   Les produits rejetees </h5>
        </div>
        <div class="card-block px-0 py-3">
            <div class="table-responsive">
                
                <div class="row"  >



                    @foreach (var item in ViewBag.MyList as IList<ProjectAspNETv2.Models.Produit>)
                    {




                        <div class="col-md-6 col-xl-3" style="margin:10px">

                            <div class="card" style="width: 15rem;height:30rem">
                                <img class="card-img-top" src="@Url.Content(@item.Images.First().PathName)"  alt="Card image cap">
                                <div class="card-body">
                                    <h4 class="card-title">@item.name</h4>
                                    <p class="card-text">  @(item.description_.Substring(0,15)) ...  </p>
                                    <div class="col text-right">
                                        <h4> @item.price DH</h4>
                                        <h6 class="text-c-purple mb-0">  <span class="text-muted">La date ::</span> @item.createdAt </h6>
                                    </div>



                                    @if (@item.status == "3")
                                    {

                                        <h6 class="m-0 text-c-red"> <i class="fas fa-circle text-c-red f-10"></i>  refused </h6>


                                    }
                                    @if (@item.status == "1")
                                    {

                                        <h6 class="m-0 text-primary"> <i class="fas fa-circle text-primary f-10"></i>  en attente de confirmation </h6>

                                    }
                                    <br />

                                    <a href="/Admin/Details/@item.Id" class="label theme-bg2 text-white f-12"> Details</a>

                                </div>
                            </div>


                        </div>




                    }
                </div>
            </div>
        </div>
    </div>
</div>